@import "tailwindcss";

body {
  font-family: Calibri, "Segoe UI", Arial, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Calibri, "Segoe UI", Arial, sans-serif;
}

#right1-caption,
#right2-caption,
#right3-caption {
  color: #777777;
}


/* Hide scrollbar for Chrome, Safari and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE and old Edge */
body {
  -ms-overflow-style: none;
}

/* Optional: keep smooth scrolling */
html {
  scroll-behavior: smooth;
}